<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPortaria" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wdcbalanca01.intranet.local:5050/Portaria.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPortaria"
          contract="ServiceReferenceBalanca.IPortaria" name="BasicHttpBinding_IPortaria" />
    </client>
  </system.serviceModel>    
</configuration>