<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPortaria" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wdcbalanca01.intranet.local:5050/Portaria.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPortaria"
                contract="ServiceReferenceBalanca.IPortaria" name="BasicHttpBinding_IPortaria" />
        </client>
    </system.serviceModel>
</configuration>